html, body {
	margin: -1em 4em 4em 1em;
	top: 0;
	left: 0;
 	font-family: 'DM Mono', monospace;
	font-family: 'Epilogue', sans-serif;
 	background-color: #faf9ed;
}

#title h1 {
	width:100%;
	font-family: 'Epilogue', sans-serif;
	font-size: 24pt;
	font-weight: 900;
	color: #2f6df5;
	text-align:center;
	position: fixed;
	top:0;
	margin: 2em 1em 2em;
	cursor:pointer;

	display: inline-block;
	padding: 5px 10px;
	position: relative;
}

#title h1:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: ""; 
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #2f6df5;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

#title h1:hover {
	width: 100%;
	left: 0;
}

#title h1:hover:after {
	width: 100%;
	left: 0;
}

#content {
	margin: 0em 10em 10em 10em;
	float: left;
	display: inline;
	width: 50%;
}

#blur {
	color: #faf9ed;
	filter: blur(3px);
	-webkit-filter: blur(3px);
}

p.lyrics {
	font-family: 'Epilogue', sans-serif;
	font-weight: 500;
	color: #2f6df5;
}

p.lyrics:hover {
	filter: blur(3px); 
	transition: 0.3s all ease;
	cursor:pointer;
}

.dashed {
	position: absolute;
	width: 200px;
	height: 300px;
	color: #2f6df5;
	padding: 10px 10px 10px 10px;
	outline-style: dashed;
	background-color: #f6d8ef; 
	outline-width: 1.5px;
	text-align: right; 
}

.dashed:hover {
	background-color: #faf9ed;
	transition: 0.5s all ease;
	font filter: blur(3px); 
}

.dashed2 {
	position: relative;
	top: 350px;
	width: 200px;
	height: 300px;
	color: #2f6df5;
	padding: 10px 10px 10px 10px;
	outline-style: dashed;
	background-color: #f6d8ef; 
	outline-width: 1.5px;
	text-align: right; 
}

.dashed2:hover {
	background-color: #faf9ed;
	transition: 0.5s all ease;
	font filter: blur(3px); 
}

#content2 {
	margin: -15em 0em 0em 0em;
	float: right;
	display: inline;
	width: 50%;
}

.line {
	position: relative;
	top: 50%;
	width: 16em;
	margin: 0 auto;
	border-right: 2px solid rgba(255, 255, 255, 0.75);
	font-family: 'DM Mono', monospace;
	font-size: 180%;
	white-space: nowrap;
	overflow: hidden; 
	transform: translateY(-50%);
}

/* ANIMATION!! */

.anim-typewriter {
	animation: typewriter 4s steps(40) 1s 1 normal both, 
	blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter { 
	from {
		width:0;
	}
	to {
		width: 16em;
	}
}

@keyframes blinkTextCursor {
	from { 
		border-right-color: rgba(255, 255, 255, 0.75); 
	} 
	to {
		border-right-color: transparent;
	}
}
